import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('figure',  figsize=(16, 10))
mpl.rc('image', cmap='gray')


concentrations = ['1uM', '10uM', '100uM', '100nM', '1mM']
for concentration in concentrations:
  features = np.load('features/' + concentration + '_features.npy')[()] # Note: [()] allows us to load the dict() we saved.

  f = features['mean_interswitch_interval'] # one feature

  plt.figure()
  plt.title(concentration)
  plt.xlabel('miis')
  plt.ylabel('number of cells')
  plt.hist(f)
  plt.show()

